.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-wrapper {
    border: 3px solid #42A7D5;
    background-color: white;
    border-radius: 15px;
    padding: 20px 50px;
}